HAJJ_CACHE_ENABLED=true
HAJJ_CACHE_TTL=900
HAJJ_CACHE_DIR="storage/cache/check"
HAJJ_METRICS_FILE="storage/metrics/check_metrics.json"

HAJJ_ADMIN_TOKEN="<TOKEN_ADMIN>"

# Jangan diubah!
HAJJ_UPSTREAM_URL="https://haji.kemenag.go.id/haji-pintar/api/web/external/15/fea54e26-3746-11ea-872f-4795600ca312"
HAJJ_UPSTREAM_KEY="pBgL$%12A"
