HAJJ_CACHE_ENABLED=true
HAJJ_CACHE_TTL=900
HAJJ_EMBARKASI_CACHE_TTL=86400
HAJJ_JADWAL_CACHE_TTL=3600
HAJJ_CACHE_DIR="storage/cache/check"
HAJJ_METRICS_FILE="storage/metrics/check_metrics.json"

HAJJ_ADMIN_TOKEN="<TOKEN_ADMIN>"

# Jangan diubah!
HAJJ_UPSTREAM_URL="https://haji.kemenag.go.id/haji-pintar/api/web/external/15/fea54e26-3746-11ea-872f-4795600ca312"
HAJJ_UPSTREAM_KEY="pBgL$%12A"
HAJJ_JADWAL_UPSTREAM_URL="https://haji.kemenag.go.id/haji-pintar/api/web/external/16/4df1d070-3748-11ea-838f-e170a6dffa79"

HAJJ_EMBARKASI_UPSTREAM_URL="https://haji.kemenag.go.id/haji-pintar/api/mobile/detail/4"
HAJJ_EMBARKASI_UPSTREAM_KEY="RQ4!2@4VSr"

# Opsional untuk environment Windows/Laragon yang belum punya CA bundle.
HAJJ_TLS_VERIFY=false
# HAJJ_CURL_CAINFO="C:\path\to\cacert.pem"
